<ion-toolbar>
  <div style="display: flex; justify-content: space-between; align-items: center; width: 100%;">
    <ion-buttons>
      <ion-button [disabled]="currentPage === 1" (click)="goToPage(1)">
        <ion-icon name="play-back-circle-outline"></ion-icon>
      </ion-button>
      <ion-button [disabled]="currentPage === 1" (click)="goToPage(currentPage - 1)">
        <ion-icon name="arrow-back-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title style="display: flex; justify-content: center; align-items: center; text-align: center; font-size: 15px;">
      Página: {{ currentPage }} / {{ maxPage }}
    </ion-title>
    <ion-buttons>
      <ion-button [disabled]="currentPage === maxPage" (click)="goToPage(currentPage + 1)">
        <ion-icon name="arrow-forward-circle-outline"></ion-icon>
      </ion-button>
      <ion-button [disabled]="currentPage === maxPage" (click)="goToPage(maxPage)">
        <ion-icon name="play-forward-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </div>
</ion-toolbar>