<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>{{ pokemon?.name }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ pokemon?.name }}</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <div style="display: flex; justify-content: center; align-items: center; height: 50%;">
    <img src="{{ pokemon?.image }}" alt="Pokemon Image">
  </div>

  <div style="display: flex; flex-direction: row; align-items: center;">
    <b>HABILIDADES: </b>
    <div style="display: flex; flex-direction: row;">
      <div *ngFor="let ability of pokemonDetails?.abilities; let isLast=last">
        <p>{{ ability.ability.name }}<span *ngIf="!isLast">,</span></p>
      </div>
    </div>
  </div>

  <div style="display: flex; flex-direction: row; align-items: center;">
    <b>EXPERIÊNCIA BASE: </b>
    <div style="display: flex; flex-direction: row;">
      <p>{{ pokemonDetails?.base_experience }}</p>
    </div>
  </div>

  <div style="display: flex; flex-direction: row; align-items: center;">
    <b>STATUS: </b>
    <div style="display: flex; flex-direction: row;">
      <div *ngFor="let stat of pokemonDetails?.stats">
        <p>Base Stat: {{ stat.base_stat }}</p>
        <p>Effort: {{ stat.effort }}</p>
      </div>
    </div>
  </div>
</ion-content>