<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <ion-button color="warning" (click)="goToFavorites()">Favoritos</ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-searchbar animated="true" placeholder="Pesquise um Pokemon" (ionChange)="onSearchChange($event)"></ion-searchbar>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-list *ngIf="pokemon.length === 0">
    <ion-item *ngFor="let i of [1,2,3,4,5]">
      <ion-avatar slot="start">
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-avatar>
      <ion-label class="ion-text-capitalize">
        <h2>
          <ion-skeleton-text animated style="width: 50%;"></ion-skeleton-text>
        </h2>
        <p>
          <ion-skeleton-text animated style="width: 20%;"></ion-skeleton-text>
        </p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-grid>
    <ion-row>
      <ion-col size="12" size-md="6" size-lg="4" *ngFor="let poke of pokemon">
        <ion-card class="center-card" (click)="openPokemonModal(poke)">
          <img alt="Pokemon" [src]="poke.image" />
          <ion-card-header>
            <ion-card-title>{{ poke.name }}</ion-card-title> 
            <ion-card-subtitle>#{{ poke.pokeIndex }}</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <ion-button fill="clear" (click)="toggleFavorite(poke); $event.stopPropagation()">
              <ion-icon slot="icon-only" [name]="isFavorite(poke) ? 'star' : 'star-outline'"></ion-icon>
            </ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <app-pagination [currentPage]="currentPage" [maxPage]="maxPage" (pageChange)="onPageChange($event)"></app-pagination>
</ion-content>